body {
	margin:              0pt;
	padding:             0pt;
	tab-size:            4;
	-moz-tab-size:       4; /**< CSS3 support, anybody? */
}

* {
	box-sizing:          border-box;
}

header {
	position:            fixed;
	width:               100%;
	top:                 0pt;
	background:          #ffffff;
	padding:             0pt 100pt;
	font-family:         sans-serif;
	font-variant:        small-caps;
	font-size:           14pt;
	line-height:         40pt;
	box-shadow:          0pt 0pt 3pt rgba(0,0,0,.5);
	list-style-type:     none;
	margin:              0pt;
	text-align:          right;
	border-bottom:       solid 3pt #606060;
}

header a:first-child {
	float:               left;
}

header a img, footer a img {
	width:               24pt;
	height:              24pt;
	display:             inline-block;
	vertical-align:      middle;
	opacity:             .666;
	margin:              0pt;
	padding:             0pt;
	border:              0pt none;
}

header a, footer a {
	text-decoration:     none;
	color:               #808080;
	padding:             0pt 15pt 0pt 0pt;
	white-space:         nowrap;
	display:             inline-block;
}

header a:hover, footer a:hover {
	color:               #404040;
}

header a:hover img, footer a:hover img {
	opacity:             1;
}

header a:first-child {
	padding-left:        15pt;
}

header a:first-child img {
	width:               40pt;
	height:              40pt;
	vertical-align:      bottom;
	opacity:             1;
}

main > aside {
	position:            fixed;
	width:               100pt;
	padding:             0pt 5pt;
	font-size:           10pt;
}

main > aside a {
	display:             block;
	text-decoration:     none;
	color:               #404040;
}

main > aside a:hover {
	color:               #000000;
}

main > aside h1 {
	margin:              15pt 0pt 0pt 0pt;
	font-size:           100%;
}

#left {
	left:                0pt;
}

#left ol, #left ul {
	font-size:           80%;
	padding-left:        2.5em;
}

#left ol ol {
	padding-left:        1.5em;
}

#left nav > ol, #left nav > ul {
	background:          #ffffff;
	margin:              0pt -5pt;
	overflow-y:          auto;
	max-height:          calc(100vh - 55pt - 2.17em);
	counter-reset:       left-ol-item;
}

#left nav > ol > li:first-child, #left nav > ol > li:last-child {
	list-style-type:     none;
}

#right {
	right:               0pt;
}

#right nav {
	background:          #ffffff;
	border-radius:       0pt 5pt 5pt 0pt;
	padding:             5pt;
	margin:              0pt 0pt 0pt -5pt;
}

#right .tags {
	border:              0pt none;
	padding:             0pt;
	margin:              0pt 0pt 0pt -5pt;
	background:          none;
}

#right .tags a {
	margin:              5pt 0pt;
	display:             table;
	border-radius:       0pt 2.5pt 2.5pt 0pt;
	border-left:         0pt none;
	padding:             0pt 5pt;
}

article > h1 {
	counter-reset:       listing section table;
}

article > h2 {
	counter-reset:       subsection;
}

article blockquote {
	font-style:          italic;
}

article pre {
	counter-increment:   listing;
}

.details {
	border-radius:       5pt;
	margin:              15pt;
	padding:             15pt;
}

article pre {
	white-space:         pre-wrap;
	word-break:          break-all;
	border-left:         1pt solid #c0c0c0;
	margin:              15pt 0pt 15pt -5pt;
	padding-left:        5pt;
}

article pre + p, .highlighter-rouge + p, article table + p, article iframe + p {
	text-align:          center;
	margin-top:          -15pt;
	font-size:           80%;
}

article pre + p::before, .highlighter-rouge + p::before {
	content:             "Listing " counter(listing) ": ";
}

article dt {
	font-weight:         bold;
}

article a {
	color:               #c00000;
	text-decoration:     none;
}

a:hover {
	text-shadow:         0pt 0pt .1ex;
}

article a[href*="://"]::after {
	content:             "□➟\02003";
	vertical-align:      super;
	font-size:           75%;
	letter-spacing:      -.5em;
}

article > h1 a {
	color:               #000000;
}

article table {
	border-radius:       5pt;
	margin:              15pt auto;
	counter-increment:   table;
}

article td {
	margin:              1pt;
}

article table + p::before {
	content:             "Table " counter(table) ": ";
}

article li {
	margin:              1ex 0ex;
}

article iframe {
	display:             block;
	max-width:           100%;
	width:               400pt;
	height:              225pt;
	margin:              15pt auto;
	border:              0pt none;
}

article img {
	display:             block;
	max-width:           100%;
	max-height:          calc(100vh - 30pt);
	margin:              15pt auto;
	border:              0pt none;
}

main > footer {
	text-align:          right;
}

main > footer a {
	display:             inline-block;
}

main > footer .author {
	float:               left;
}

main > footer a img {
	width:               20pt;
	height:              20pt;
	display:             inline-block;
	vertical-align:      middle;
	opacity:             .666;
	margin:              0pt;
	padding:             0pt;
	border:              0pt none;
}

main > footer a:hover img {
	opacity:             1;
}

.thumb {
	width:               100pt;
	height:              100pt;
}

.left {
	float:               left;
}

.right {
	float:               right;
}

.details h2 {
	border-bottom:       1pt solid #c0c0c0;
}

/* optional meta { */

time:empty, .update:empty, .author:empty {
	display:             none;
}

time {
	font-size:           80%;
	border-radius:       0pt 2.5pt 0pt 2.5pt;
	padding:             0pt 5pt;
	display:             inline-block;
}

h1 time {
	display:             table;
}

.update, .author {
	font-style:          italic;
}

.update {
	position:            relative;
	top:                 -10pt;
	font-size:           80%;
	margin:              0pt;
	padding:             0pt;
	display:             inline;
	background:          none;
}

.update::before {
	content:             "Latest update: ";
}

.author::before {
	content:             "Written by: ";
}

.author:empty::before {
	content:             "";
}

.tag {
	font-size:           80%;
	border-radius:       2.5pt;
	font-variant:        small-caps;
	white-space:         nowrap;
	padding:             0pt 2.5pt;
}

article > .tags {
	position:            relative;
	top:                 -10pt;
	display:             inline;
}

article > .tags + * {
	margin-top:          2pt;
}

main > article > .tags {
	display:             none;
}

.tag {
	color:               #000000;
}

/* } optional meta */

.note {
	border-radius:       5pt;
	margin:              15pt;
	padding:             5pt;
}

.note h4 {
	border-radius:       5pt 0pt 2.5pt 0pt;
	margin:              -5pt 0pt 0pt -5pt;
	width:               150pt;
	padding:             0pt 5pt;
	font-variant:        small-caps;
}

.warn h4 {
}

.good {
	color:               #008000;
}

.bad {
	color:               #800000;
}

/* syntax hilghighting { */

/* taken from: https://github.com/mojombo/tpw/blob/master/css/syntax.css */
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

/* comments should be highlighted, not muted */
.highlight .c  { color:      #800000; } /* Comment */
.highlight .cm { color:      #800000; } /* Comment.Multiline */
.highlight .cp { color:      #800000; } /* Comment.Preproc */
.highlight .c1 { color:      #800000; } /* Comment.Single */
.highlight .cs { color:      #800000; } /* Comment.Special */

/* } syntax highlighting */

/* tags page { */
section[id^=tag\:] ul {
	list-style-type:     none;
	padding:             0pt;
}

section[id^=tag\:] a:first-child {
	color:               #000000;
}
/* } tags page */

footer {
	font-size:           80%;
	background:          #ffffff;
	height:              40pt;
	line-height:         40pt;
	margin:              0pt;
	padding:             0pt;
}

body > footer {
	border-top:          solid 2.5pt #606060;
	height:              42.5pt;
	margin:              0pt 100pt;
	padding:             0pt 15pt;
}

footer nav {
	float:               right;
	margin-right:        -15pt;
}

footer a img {
	width:               20pt;
	height:              20pt;
}

@media print {

header, aside , body > footer, footer nav {
	display:             none;
}

main {
	margin:              50pt;
}

main > article > .tags {
	display:             inline;
}

article table {
	border-collapse:     collapse;
}

article td {
	margin:              0pt;
	border:              1pt solid #c0c0c0;
}

article h1, article h2, article h3, article h4, article h5, article h6,
article p, article td, article li {
	page-break-inside:   avoid;
}

time, .note, .note h4 {
	border:              1pt solid #c0c0c0;
}

.update {
	border:              0pt none;
}

.note h4 {
	border-top:          0pt none;
	border-left:         0pt none;
}

article > h2::before {
	counter-increment:   section;
	content:             counter(section) ".";
	margin-right:        .5ex;
}

article > h3::before {
	counter-increment:   subsection;
	content:             counter(section) "." counter(subsection) ".";
	margin-right:        .5ex;
}

/* syntax hilghighting { */
.highlight .err { background: none; outline: #e3d2d2 solid 2pt; } /* Error */
.highlight .gd { background: none; outline: #ffdddd solid 2pt; } /* Generic.Deleted */
.highlight .gd .x { background: none; outline: #ffaaaa solid 2pt; } /* Generic.Deleted.Specific */
.highlight .gi { background: none; outline: #ddffdd solid 2pt; } /* Generic.Inserted */
.highlight .gi .x { background: none; outline: #aaffaa solid 2pt; } /* Generic.Inserted.Specific */
/* } syntax hilghighting */

} /* @media print */

@media screen {

body {
	background:          #c0c0c0;
	overflow-y:          scroll;
}

main {
	background:          #ffffff;
	padding:             43pt 15pt 0pt 15pt;
	margin:              0pt 100pt 0pt 100pt;
	min-height:          calc(100vh - 42.5pt);
}

:target::before {
	display:             block;
	position:            relative;
	margin-top:          -53pt;
	height:              53pt;
	content:             "";
}

article > h2::after {
	counter-increment:   section;
	content:             counter(section) ".";
	float:               left;
	margin-right:        .5ex;
}

article > h3::after {
	counter-increment:   subsection;
	content:             counter(section) "." counter(subsection) ".";
	float:               left;
	margin-right:        .5ex;
}

article pre, .details {
	background:          #f0f0f0;
}

article table {
	background:          #e8e8e8;
}

article td {
	background:          #ffffff;
}

article table tr:nth-child(2n) td {
	background:          #f0f0f0;
}

article img {
	max-height:          calc(100vh - 70pt);
}

time {
	position:            relative;
	background:          #d0d0d0;
	margin:              0pt 0pt 0pt -20pt;
}

.tag {
	background:          #50b050;
	color:               #fff;
}

.tag:hover {
	color:               #000;
}

.note {
	background:          #f0f0f0;
}

.note h4 {
	background:          #a0c0e0;
}

.warn h4 {
	background:          #e0c0a0;
}

body > header {
	z-index:             1;
}

} /* @media screen */

@media screen and (max-width: 720pt) {

body {
	background:          #ffffff;
}

#left, #right {
	display:             none;
}

main {
	margin:              0pt;
	border:              0pt none;
	background:          none;
}

header {
	padding:             0pt;
}

body > footer {
	margin:              0pt;
}

time {
	margin:              0pt 0pt 0pt -15pt;
}

main > article > .tags {
	display:             inline;
}

} /* @media screen and (max-width: 720pt) */

@media screen and (max-width: 520pt) {

header {
	position:            static;
	text-align:          left;
	line-height:         24pt;
	padding:             0pt 0pt 0pt 15pt;
}

header a, header a:first-child {
	padding:             0pt 15pt 0pt 0pt;
}

header a:first-child {
	float:               none;
}

header a:first-child img {
	width:               24pt;
	height:              24pt;
	vertical-align:      middle;
}

main {
	margin:              0pt;
	padding:             0pt 15pt;
	min-height:          0pt;
}

:target::before {
	margin-top:          -10pt;
	height:              10pt;
}

article img {
	max-height:          calc(100vh - 30pt);
}

} /* @media screen and (max-width: 520pt) */

/* default to sans-serif on low-dpi devices */
@media all and (max-resolution: 240dpi) {
body {
	font-family:         sans-serif;
}
} /* @media all and (max-resolution: 240dpi) */
