{% assign h2s = content | split: '<h2 id="' %}
{% for h2 in h2s offset: 1 %}
{%	if forloop.first %}
<h4>Contents</h4>
<ol>
{%	endif %}
{%	assign h2_tail = h2 | split: '</h2>' %}
<li><a href="#{{ h2_tail[0] }}</a></li>
{%	assign h3s = content | split: '<h3 id="' %}
{%	for h3 in h3s offset: 1 %}
{%		if forloop.first %}
<ol>
{%		endif %}
{%		assign h3_tail = h3 | split: '</h3>' %}
<li><a href="#{{ h3_tail[0] }}</a></li>
{%		if forloop.last %}
</ol>
{%		endif %}
{%	endfor %}
{%	if forloop.last %}
</ol>
{%	endif %}
{% endfor %}
