<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ site.title }} · {{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
	<header>
		<nav>
			<a href="/">
				<img src="/img/logo.svg" alt="Logo">{{ site.title }}
			</a><a href="/journal">
				<img src="/img/feather.svg" alt="icon">journal
			</a><a href="/about">
				<img src="/img/questionmark.svg" alt="icon">about
			</a><a href="https://github.com/lonkamikaze">
				<img src="/img/code.svg" alt="icon">code
			</a><a href="/contact">
				<img src="/img/contact.svg" alt="icon">contact
			</a>
		</nav>
	</header>
	<main>
		<aside id="left">
{% include toc.html %}
		</aside>
		<aside id="right">
{% include social.html %}
{% include tags.html tags=page.tags %}
		</aside>
		<article>
			<h1>
				{% if page.date %}<time>{{ page.date | date: site.style.date }}</time>
				{% endif %}{{ page.title }}
			</h1>
{% if page.update %}<time class="update">{{ page.update | date: "%F" }}</time>{% endif %}
{% include tags.html tags=page.tags %}
{{ content }}
		</article>
		<footer>
			{% if page.author %}<span class="author">{{ page.author }}</span>
			{% endif %}<nav>
				<a href="{{ site.history }}/{{ page.path }}">
					<img src="/img/history.svg" alt="icon">page history
				</a>
			</nav>
		</footer>
	</main>
	<footer id="footer">
		© {{ site.copy }}
		<nav>
			<a href="/legal">
				<img src="/img/legal.svg" alt="icon">legal (Impressum)
			</a>
		</nav>
	</footer>
</body>
</html>
