<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		<link rel="icon" type="image/svg" href="/img/logo.svg" />
		<title>{{ site.title }} · {{ page.title }}</title>
	</head>
	<body>
		<div id="header">
			<a href="/">
				<img src="/img/logo.svg" alt="Logo" />{{ site.title }}
			</a>
			<a href="/journal">
				<img src="/img/feather.svg" alt="icon" />journal
			</a>
			<a href="/about">
				<img src="/img/questionmark.svg" alt="icon" />about
			</a>
			<a href="https://github.com/lonkamikaze">
				<img src="/img/code.svg" alt="icon" />code
			</a>
			<a href="/contact">
				<img src="/img/contact.svg" alt="icon" />contact
			</a>
		</div>
		<div id="left"></div>
		<div id="right"></div>
		<div id="main">
			<div id="content">
				<h1>{{ page.title }}</h1>
				{{ content }}
			</div>
			<div id="footer">
				© {{ site.copy }}
				<a href="/legal"><img src="/img/legal.svg" alt="icon" />legal (Impressum)</a>
			</div>
		</div>
	</body>
</html>
