<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ site.title | escape }} · {{ page.title | escape }}</title>
	<link rel="stylesheet" type="text/css" media="all" href="/css/all.css">
	<link rel="stylesheet" type="text/css" media="screen" href="/css/screen.css">
	<link rel="stylesheet" type="text/css" media="print" href="/css/print.css">
	<link rel="icon" sizes="any" type="image/svg+xml" href="/img/logo.svg">
	<link rel="icon" sizes="16x16 24x24 32x32 48x48 64x64 128x128 256x256"
	      type="image/x-icon" href="/favicon.ico">
</head>
<body>
	<header>
		<nav>
			<a href="/">
				<img src="/img/logo.svg" alt="">{{ site.title | escape }}
			</a><a href="/journal/">
				<img src="/img/feather.svg" alt="">journal
			</a><a href="/about/">
				<img src="/img/questionmark.svg" alt="">about
			</a><a href="https://github.com/lonkamikaze">
				<img src="/img/code.svg" alt="">code
			</a><a href="/contact/">
				<img src="/img/contact.svg" alt="">contact
			</a>
		</nav>
	</header>
	<main>
		<aside id="left">
{% case page.toc %}
{% when 'sections' %}
{%	include sections.html %}
{% else %}
{%	include toc.html %}
{% endcase %}
		</aside>
		<aside id="right">
{% include social.html %}
{% include tags.html tags=page.tags %}
		</aside>
		<article>
			<h1>
				{% if page.date %}<time>{{ page.date | date: site.style.date }}</time>
				{% endif %}{{ page.title | escape }}
			</h1>
{% if page.update %}<time class="update">{{ page.update | date: "%F" }}</time>{% endif %}
{% include tags.html tags=page.tags %}
{{ content }}
		</article>
		<footer>
			{% if page.author %}<span class="author">{{ page.author | escape }}</span>
			{% endif %}<nav>
				<a href="{{ site.history }}/{{ page.path }}">
					<img src="/img/history.svg" alt="">page history
				</a>
			</nav>
		</footer>
	</main>
	<footer id="footer">
		© {{ site.copy | escape }}
		<nav>
			<a href="/legal">
				<img src="/img/legal.svg" alt="">legal (Impressum)
			</a>
		</nav>
	</footer>
</body>
</html>
